0.0.0.0
tls off
cors
proxy / https://a.tile.openstreetmap.org/
cache {
    match_path /assets
    match_header Content-Type image/jpg image/png
    status_header X-Cache-Status
    default_max_age 240000m
    path /tmp/caddy-cache
}
